/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
article, aside, figure, footer, header, nav, section { display: block }
body                    { font: 13px sans-serif; *font-size: small; *font: x-small; line-height: 1.22 }
table                   { font-size: inherit; font: 100% }
select, input, textarea { font: 99% sans-serif }
pre, code, kbd, samp    { font-family: monospace, sans-serif }

h1, h2 { font-weight: bold }
html  { -webkit-font-smoothing: antialiased }
a:hover, a:active, a { outline: none }
a:link            { -webkit-tap-highlight-color: #FF5E99 }
::-moz-selection{ background: #F400BF; color: #FFF; text-shadow: none }
::selection { background: #F400BF; color: #FFF; text-shadow: none }
.ie7 img    { -ms-interpolation-mode: bicubic }
ul { list-style-type: none; list-style-position: inside }
/* End reset */

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { display: block }

html      { height: 100%; background: url(/img/background.png) repeat }
body      { color: #FFFFFF; text-shadow: 1px 1px 2px #590C00 }
h1, h2    { font-weight: 600; font-family: 'urbana-1' }
strong    { font-weight: 600 }

/* Home page */
body.home     { 
/*  background: transparent url(/img/glow.png)  top no-repeat;*/
  font-family: 'urbana-1';
  font-weight: 300;
  background: url(/img/glow.png) top no-repeat;
  width: 600px;
  min-height: 600px;
  padding: 110px 80px 20px; 
  margin: 0 auto; 
}
body.home h1  { font-size: 4em }
body.home p   { font-size: 1.8em }
body.home ul  { font-size: 1.6em; margin: 1em 0 }
body.home img { float: left; margin-right: 1em }
footer        { margin-top: 2em; text-shadow: 0px 1px 1px #000 }
footer.home p { color: #6d1003; font-size: 1.4em }
footer.home a { color: inherit; text-decoration: none; border-bottom: 1px dotted #6d1003 }
a.sign-up     {
  font-style: italic;
  font-weight: 600;
  font-size: 1.4em;
  text-shadow: 0px 1px 1px #757575;
  display: inline-block; 
  color: #FFFFFF; 
  text-decoration: none; 
  margin-top: 1em;
  padding: 0.2em 0.7em; 
  background: #F5D201;
  -webkit-border-radius: 1em; -moz-border-radius: 1em; border-radius: 1em;
  -webkit-box-shadow: 1px 1px 1px #000; -moz-box-shadow: 1px 1px 1px #000; box-shadow: 1px 1px 1px #000;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5D201), to(#f5a101));
  background: -moz-linear-gradient(0% 100% 90deg,#f5a101, #F5D201)
}

