%img(src="/img/iphone-vert.png" alt="iphone")
%h1 Right Near Me
%p Create an iPhone accessible HTML5 app to advertise your stuff in a few simple steps.
%ul#steps
  %li Register for <strong>free</strong>.
  %li Tell us who you are, upload a logo, and add products.
  %li Your store is now bookmarkable. Looks just like a real app!
%p
  %a.sign-up(href="/signup") Sign me up!
.clearfix
%footer.home
  %p
    Made with ♥ by <a href="http://awesomebydesign.com">Julio Cesar Ody</a>,
    for <a href="http://railsrumble.com/">Rails Rumble 2010</a>.
