<!DOCTYPE html>
<html>
  <head>
    <title>Right Near Me</title>
    <link href="/css/mobile.css" media="screen" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="red" />
    <meta name="format-detection" content="telephone=no" />
    <script src="http://use.typekit.com/ljl7gkk.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <section id="home">
      <h1 id="rnm">
        Right Near Me
      </h1>
      <div id="getting-started" class="tooltip notice important">
        <span class="icon">!</span>
        <p>
          Start by telling us what are you looking for.
          <a href="#!/settings">Go to settings</a>
        </p>
      </div>
      <menu>
        <li>
          <a href="#!/settings">Settings</a>
        </li>
        <li>
          <a href="#!/get-your-own">Get your own</a>
        </li>
      </menu>
      <div id="loading">
        <h1>Loading</h1>
        <div id="ball"></div>
      </div>
      <div id="results-wrapper">
        <h2 id="now-showing">
          Showing 10 stores closest to you, no keywords specified.
        </h2>
        <ul id="results">
          <li class="arrow">
            <a href="#!/stores/taste">Taste Café, Foveaux Street</a>
          </li>
          <li class="arrow">
            <a href="#!/stores/surf">RTA Staff Credit Union, Kippax Street</a>
          </li>
          <li class="arrow">
            <a href="#!/stores/rona">Rona Leather Fashions, Foveaux Street</a>
          </li>
          <li class="arrow">
            <a href="#!/stores/yoga">BodyMindLife Yoga, Foveaux Street</a>
          </li>
          <li class="arrow">
            <a href="#!/stores/music">Forresters Hotel, Fitzroy Road</a>
          </li>
          <li class="arrow">
            <a href="#!/stores/zante">Zante Cafe, Foveaux Street</a>
          </li>
          <li class="arrow">
            <a href="#!/stores/zante">Evening Star Hotel, Elizabeth Street</a>
          </li>
        </ul>
      </div>
    </section>
    <section id="get-your-own">
      <h2>Want your own store?</h2>
      <p>
        Right Near Me makes it easy for you to create your online
        mobile-friendly presence.
      </p>
      <p>
        Sign up for an account, add your inventory, a logo, and you're set.
      </p>
      <p>
        <a class="button">Up to 10 products - FREE</a>
      <p>
    </section>
    <section id="zoe" class="black">
      <div class="toolbar">
        <h1>Zoe Surfboards</h1>
      </div>
      <img class="logo" src="/img/zoes.jpg">
      <p class="address">
        14 Kippax Street, Surry Hills, Sydney <a href="#">map</a>
      </p>
      <p class="description">
        Makers of the finest surfboards in all of the Pacific! We're located in a trendy spot
        of Surry Hills, Sydney.
      </p>
      <table class="stuff">
        <tr>
          <td class="name">5'08" Dominator</td>
          <td class="price">$920.00</td>
        </tr>
        <tr>
          <td class="name">5'08" Firewire Quadfish</td>
          <td class="price">$982.26</td>
        </tr>
        <tr>
          <td class="name">5'08" Stretch F4 Quad TL2</td>
          <td class="price">$822.03</td>
        </tr>
        <tr>
          <td class="name">5'10" Firewire Quadfish</td>
          <td class="price">$982.26</td>
        </tr>
        <tr>
          <td class="name">6'0" Dominator</td>
          <td class="price">$920.00</td>
        </tr>
      </table>
    </section>
    <section id="settings">
      <div class="toolbar">
        <h1>Settings</h1>
      </div>
      <form action="#">
        <label for="keywords">Keywords</label>
        <input type="text" name="keywords" id="keywords" placeholder="E.g.: surf coffee music" autocapitalize="off">
      </form>
      <p>
        Keywords will narrow down the list of stores near you based on relevance/association with
        the keywords you specify.
      </p>
      <p>
        Think of this as a search criteria that sticks around.
      </p>
    </section>
    <script src="/js/zepto.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/iscroll-lite.js"></script>
    <script src="/js/mobile.js"></script>
    <script type="text/template" id="result-template">
      <li class="arrow">
        <a href="#!/stores/<%= username %>"><%= name %>, <%= street %></a>
      </li>
    </script>
    <script type="text/template" id="tooltip-template">
      <div class="tooltip floating <%= classes %>" id="<%= id %>">
        <span class="icon"><%= icon %></span>
        <p>
          <%= message %>
        </p>
      </div>
    </script>
  </body>
</html>
