!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="description" content="Find stuff near you on your iPhone")
    %meta(name="author" content="awesomebydesign.com")
    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    %link(rel="stylesheet" href="/css/rightnearme.css")
    %script(src="http://use.typekit.com/ljl7gkk.js")
    <script>try{Typekit.load();}catch(e){}</script>
    %script(src="/js/modernizr-1.6.min.js")
    %title Right Near Me
  %body
    %section#panel
      %header
        %h1= @store.name
        %p In: #{@store.location}
      %nav#main
        %ul
          %li#currently
          %li
            %a#go-products(href="#!/") 
              Products
          %li
            %a#go-profile(href="#!/profile") Profile
          %li
            %a#go-stats(href="#!/statistics") Statistics
      .clearfix
      #products.section.active
        %a#add-new.action Add new
        %form#new-product
          %input(type="text" id="product-name" placeholder="New product name")
          %textarea(id="product-description" placeholder="Description")
          %input(type="text" id="product-price" placeholder="Price (if any)")
          %button(type="submit") Add new
        %table#products-list(cellspacing="0" cellpadding="0")
      #profile.section
        %form
          foo
      #statistics.section
        %p stats
    %script(src="/js/jquery-1.4.4.min.js")
    %script(src="/js/underscore-min.js")    
    %script(src="/js/backbone.js")
    / %script(src="/js/backbone-localstorage.js")    
    %script(src="/js/mystore.js")
    %script(type="text/template" id="product-template")
      <td class="name"><a><%= name %></a></td><td class="price"><%= price %></td>
    %script(type="text/template" id="profile-template")
      <h1><%= name %></h1>
      <p>At <%= location %></p>
      <p><a>Edit profile</a></p>