* { margin: 0px; padding: 0px }

#results-wrapper          { -webkit-transition: all 0.25s linear; opacity: 0 }
#results-wrapper.visible  { opacity: 1 }
#loading          { -webkit-transition: all 0.25s linear; display: block; text-align: center; margin-top: 50px; opacity: 0; pointer-events: none }
#loading.visible  { opacity: 1 }
#loading h1       { color: #6D1003; font-size: 2em; text-transform: uppercase }
#ball             { -webkit-animation: rotates 1s infinite linear; display: inline-block; height: 30px; width: 30px; border-radius: 18px; border: 4px dashed #6D1003 }


form input,
form textarea {
  -webkit-border-radius: 0;
  font-family: inherit;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #6D1003;
  padding: 0.2em;
  font-size: 16px;
}
label         { font-weight: bold }

.toolbar {
  -webkit-box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px #000;
  background: #6D1003;
  height: 45px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}

body {
  -webkit-perspective: 800;
  -webkit-text-size-adjust: none;
  -webkit-transform-style: preserve-3d;
  -webkit-user-select: none;
  color: #FFF;
  font-family: 'urbana-1';
  font-weight: 300;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(radial, 50% center, 200, 50% center, 40, from(#a51703), to(#BC4F40)), #a51703;
  position: absolute;
}

body > section {
  -webkit-transition: all 0.25s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(100%,0%,0%);
  display: block;
  left: 0px;
  min-height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  background: -webkit-gradient(radial, 50% center, 200, 50% center, 40, from(#a51703), to(#BC4F40)), #a51703;
}

body > section img.logo {
  position: relative;
  -webkit-border-radius: 8px;
  width: 100px;
  float: right;
  margin: 0 10px 5px 5px;
}

body > section img.logo:after {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background: rgba(255, 255, 255, .3);
}

body > section p.address {
  font-weight: bold;
  font-size: 20px;
}

body.landscape .toolbar > h1 {
  margin-left: -125px;
  width: 250px;
}

.reverse { -webkit-transform: translate3d(-100%, 0%, 0%); opacity: 0 }
.current { -webkit-transform: translate3d(0%,0%, 0%) !important; opacity: 1 !important }

menu {
  -webkit-box-align: stretch;
  -webkit-box-orient: horizontal;  
  display: -webkit-box;
  margin: 0 10px;
  padding: 10px 0 10px 40px;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  line-height: 20px;
  padding: 0;
  border-radius: 8px;
}

menu li { -webkit-box-flex: 1; list-style-type: none; text-align: center }
menu a  { display: block; font-weight: bold; color: white; text-decoration: none; padding: 10px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6D1003), to(#490b02)); border-right: 1px solid #530c02 }
menu li:first-child a { border-radius: 0; border-top-left-radius: 8px; border-bottom-left-radius: 8px }
menu li:last-child a  { border-radius: 0; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-right: 0 }

.tooltip {
  display: none;
  position: relative;
  font-size: 16px;
  background: #6D1003;
  margin: 0 10px;
  padding: 10px 0 10px 40px;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  line-height: 20px;
}

.tooltip.floating {
  -webkit-transform: translate3d(0, 10px, 0);
  -webkit-transition: all 0.25s ease-out;
  opacity: 0;
  display: block;
  position: absolute;
  left: 0;
}

.tooltip.floating.visible {
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 1;
}

.tooltip .icon {
  -webkit-border-radius: 1em;
  line-height: 1em;
  font-weight: bold;
  display: inline-block;
  font-size: 2em;
  width: 30px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5D201), to(#f5a101));
  color: white;
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  left: 10px;
  text-align: center;
  text-shadow: 1px 1px 0px #000;
}
.tooltip.important .icon {
  -webkit-animation: throbs 0.5s infinite ease-in-out;
}

.tooltip p        { margin: 0 10px }
.tooltip.visible  { }

#rnm {
  text-align: center;
  display: inline-block;
  padding: 4px 55px 0 0;
  background: transparent url(/img/mobile.png) top right no-repeat;
}

#home h1 a {
  font-style: none;
  font-size: 20px;
  position: absolute;
  right: 10px;
}

#settings { -webkit-transform: translate3d(0%, -100%, 0%); opacity: 0 }
#results    { display: none }
#settings form        { margin-bottom: 10px }
#settings form input  { width: 260px; font-size: 20px }
#settings label       { display: block; font-size: 24px }

h1, h2 { margin: 10px; text-shadow: rgba(255, 255, 255, 0.19) }
p, form { margin: 0 10px }
h2 > a, p > a, p > a.button {
  -webkit-box-shadow: 1px 1px 0px #000;
  -webkit-border-radius: 0.5em;
  font-style: italic;
  font-weight: 600;
  text-shadow: 1px 1px 0px #757575;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5D201), to(#f5a101));
  color: #FFF;
  display: inline-block;
  padding: 0.15em 0.25em;
  text-decoration: none;
}
p > a.button  { position: static }
h1, h2, p     { text-shadow: 1px 1px 0 #000 }
p:first-child { margin-top: 0 }
p             { margin-top: 4px; margin-bottom: 8px } /* avoid overriding sides margin */

.toolbar > h1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  height: 40px;
  left: 50%;
  line-height: 1em;
  margin: 1px 0px 0px -75px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 0, 0, 0.398438) 0px -1px 0px;
  top: 10px;
  white-space: nowrap;
  width: 150px;
}

table.stuff {
  width: 94%;
  border-spacing: 0;
  border: 0;
  margin: 10px;
}

table.stuff tr                { background: rgba(0, 0, 0, .3) }
table.stuff tr:nth-child(odd) { background: rgba(0, 0, 0, .5) }
table.stuff td.name           { width: 70% }
table.stuff td.price          { width: 30%; text-align: right }
table.stuff td                { padding: 10px }

ul {
  background: white;
  border: 1px solid #B4B4B4;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  color: black;
  font: normal normal bold 17px/normal Helvetica;
  margin: 15px 10px 17px;
  padding: 0px;
}

ul li {
  color: black;
  font-size: 14px;
  border-top: 1px solid #B4B4B4;
  color: #666;
  list-style-type: none;
  padding: 10px;
}

li:first-child, li:first-child a {
  border-top: 0px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
}

ul li.arrow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAUCAYAAAB4d5a9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKVJREFUeNpi/P//PwOtARMDHcDwsYQFRJSXl8P4dVC6CZvizs5O8i1BsqARid9Ei+BiQ2KDLKumhSU1QNyKxG+hlkXoEQ+yqAPNogpapK5KNIvaKbUIVxKeAsTvkPg5QCxETUukgfgAkqFPgdgBzVKKLIFZoIJmwR1qBRdNLEC2BJQpV9LCAmRL/gBxAtRwqlqAXqzcgRrOQE0LQIBxtNIiBQAEGAA7xCa2yF9zEgAAAABJRU5ErkJggg==);
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

body > .current { display: block !important; min-height: 420px !important }

body.landscape > * { min-height: 320px }

ul li a, li.img a + a {
  display: block;
  margin: -10px;
  overflow: hidden;
  padding: 12px 30px 12px 10px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.button, .back, .cancel, .add {
/*  -webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAeCAIAAACqmwlGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAatJREFUeNqVlMtKw0AUhqfJSRpTk5Za1FAvxS6sgrVeFrpQdOcT+IpuBVHcuVBQpCDYjeAdkSpavDTGNJkz43FpFZz8DISZ+b75J5tJbWwfMsZuby7rh/vN5v1H+539TMZxPa84v7g0WirTFISQR/t7jdOTcqVaGp+ze50uIfDbL62H3a3NqerMwtIqXF9dnF+dL6+t9/S6hmFqut4luHns80aKpcrxwY43PKK7+f6J2ZVcYTCl6ZIxKuwatEhbpmU72UKjfgCakXFz/TwW7L8QlgIbTNtBwVAgU0g644IGZoycqYVgQGRRLBQFggEpHJUFBI4iUhYIBhSSPooCwUB0zEWiBsERlRsECJSIUlEgOHmDH3TM909FgWBgqe8oCgRrLGGADlcvIDB5A2nfQ7kD6D5J/jn5lZILBoAUQgWVUgDoWi5r8zhUEXgU5nOOVp0sB+0W+f8WEDY9MabpYNUqQ29Pd1Hoi79eA1qkLQIIY5CGIOwUvYHBQr5xdvn4/BSGnS7BstIDhexUbVo3jNarD1Ky5xfftszF+WqPZcKvp5IjfoYRoYHv0/QLHvXjAb8xkEMAAAAASUVORK5CYII=) 0 5 0 5 stretch stretch;*/
  background: none;
  border-width: 0px 5px;
  color: white;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  overflow: ;
  padding: 0px 3px;
  position: absolute;
  right: 6px;
  text-decoration: none;
  text-overflow: ellipsis;
  top: 8px;
  white-space: nowrap;
  width: auto;
}

a.back {
  border: 1px solid #000;
  padding: 0 10px;
  -webkit-border-radius: 8px;
  background: rgba(0, 0, 0, 0.4);
/*  border-width: 0px 8px 0px 14px;*/
  left: 6px;
  max-width: 55px;
  right: auto;
}

@-webkit-keyframes throbs {
  0%    { -webkit-transform: scale(1) }
  50%   { -webkit-transform: scale(1.1) }
  100%  { -webkit-transform: scale(1) }
}

@-webkit-keyframes rotates {
  0%    { -webkit-transform: rotate(0deg) }
  100%  { -webkit-transform: rotate(360deg) }
}

@-webkit-keyframes fadesout {
  0%    { -webkit-transform: opacity: 1 }
  100%  { -webkit-transform: opacity: 0; display: none }
}

/* Themes */
body > section.black {
  background: -webkit-gradient(radial, 50% center, 200, 50% center, 40, from(#191919), to(#2a2a2a)), #191919;
}
body > section.black .toolbar {
  background: #1a1a1a;
}