/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
article, aside, figure, footer, header, nav, section { display: block }
body                    { font: 13px sans-serif; *font-size: small; *font: x-small; line-height: 1.22 }
table                   { font-size: inherit; font: 100% }
select, input, textarea, button { font: 99% sans-serif }
pre, code, kbd, samp    { font-family: monospace, sans-serif }

h1, h2 { font-weight: bold }
html  { -webkit-font-smoothing: antialiased }
a:hover, a:active, a { outline: none }
a:link            { -webkit-tap-highlight-color: #FF5E99 }
a, label  { cursor: pointer }
::-moz-selection{ background: #F400BF; color: #FFF; text-shadow: none }
::selection { background: #F400BF; color: #FFF; text-shadow: none }
.ie7 img    { -ms-interpolation-mode: bicubic }
ul { list-style-type: none; list-style-position: inside }
body, input, button, textarea { font-size: 100%; font-weight: normal }
label, input[type=button], input[type=submit], button { cursor: pointer }
button {  width: auto; overflow: visible }
input[type="radio"] { vertical-align: text-bottom }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline }
.ie6 input { vertical-align: text-bottom }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { display: block }
/* End reset */


html      { height: 100%; background: url(/img/background.png) repeat }
body      { color: #FFFFFF; text-shadow: 1px 1px 2px #590C00 }
h1, h2    { font-weight: 600; font-family: 'urbana-1' }
strong    { font-weight: 600 }

input, textarea, button { font-family: inherit }
form input, 
form textarea           { border: 2px solid #6D1003; padding: 0.3em; margin: 0.5em 0 }
a { color: #ECF81A; border-bottom: 1px dotted #ECF81A; text-decoration: none }

body { font-family: 'urbana-1'; font-weight: 300; background: url(/img/glow.png) top no-repeat }

/* Home page */
#steps { margin: 1em 0 }
body.home     { width: 600px; min-height: 600px; padding: 110px 80px 20px; margin: 0 auto }
body.home h1  { font-size: 3em }
body.home p   { font-size: 1.4em }
body.home ul  { font-size: 1.4em; margin: 1em 0; list-style-type: square }
body.home img { float: left; margin-right: 1em }
footer        { margin-top: 2em; text-shadow: 0px 1px 1px #000 }
footer.home p { color: #6d1003; font-size: 1.2em }
footer.home a { color: inherit; text-decoration: none; border-bottom: 1px dotted #6d1003 }
a.sign-up, button {
  border: 0;
  font-style: italic;
  font-weight: 600;
  font-size: 1.4em;
  text-shadow: 0px 1px 1px #757575;
  display: inline-block; 
  color: #FFFFFF; 
  text-decoration: none; 
  padding: 0.2em 0.7em; 
  background: #F5D201;
  -webkit-border-radius: 1em; -moz-border-radius: 1em; border-radius: 1em;
  -webkit-box-shadow: 1px 1px 1px #000; -moz-box-shadow: 1px 1px 1px #000; box-shadow: 1px 1px 1px #000;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5D201), to(#f5a101));
  background: -moz-linear-gradient(0% 100% 90deg,#f5a101, #F5D201)
}
#already-have-account { margin-top: 1em }
.js #sign-in { display: none }
#sign-in input { width: 12em }

#new-account input,
#new-account textarea { font-size: 1.2em; display: block }
#new-account #email         { width: 15em }
#new-account #name,
#new-account #description   { width: 20em }
#new-account #description   { height: 5em }
#new-account #location      { width: 25em }

#panel { 
  width: 760px; 
  margin: 0 auto; 
  background: #A61905; 
  border-color: #891504; 
  border-width: 0 2px 2px 2px;
  border-style: solid;
}
#panel > * { padding: 0 1em }
#panel header { padding: 1em 1em; margin-bottom: 1em }
#panel header h1 { font-size: 2.5em }
#panel h1 { font-size: 2em }

nav#main ul { position: relative; clear: both; height: 2.2em }
nav#main a {
  line-height: 1.2em;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  width: 100%;
  text-align: center;
  font-weight: bold; 
  color: #fff; 
  border: 0 none;
  display: block;
  font-size: 1.2em;
  padding: 0.3em 0.9em;
  background: transparent;
  overflow: visible;
}
nav#main li { float: left; width: 7em; overflow: visible }
#currently {
  width: 7em;
  pointer-events: none;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background: rgba(0, 0, 0, 0.2);
}

div.section { display: none; padding: 1em !important; background: rgba(0, 0, 0, 0.2) }
div.section.active { display: block }

/* new product form */
#new-product          { display: none }
#new-product > *      { display: block }
#product-name         { width: 20em }
#product-description  { width: 20em; height: 4em }
#product-price        { width: 5em }

/* products list */
#products-list    { width: 100%; margin-top: 1em }
#products-list td { padding: 0.5em; font-weight: bold; font-size: 1.2em; font-weight: normal }
#products-list td.name  { width: 70% }
#products-list td.price { width: 30%; text-align: right }
#products-list tr:nth-child(odd) { background: #741204 }
#products-menu li { display: inline; margin-right: 1em }
#products-menu a  { display: inline-block; border: 0 none }
#products-list td.name form     { display: none }
#products-list td.name form > * { font-size: 0.8em }
#products-list td.name form div > * { margin: 0.2em 0 }
#products-list td.name input.name,
#products-list td.name textarea     { width: 20em }
#products-list td.name input.price  { width: 4em }
#products-list td.name span.error   { 
  display: none;
  margin-left: -0.5em; 
  padding: 0.2em; 
  background: #F83519; 
  color: #FFF
}
#products-list td.name p { font-size: 75%; margin-top: 0.2em }

/* profile form */
#edit-profile       { position: relative }
#edit-profile > *   { display: block }
#edit-profile input,
#edit-profile textarea,
#edit-profile label { font-size: 1.2em }
#store-email        { width: 15em }
#store-name,
#store-description,
#store-location     { width: 20em }
#edit-profile button { margin-top: 1em }
#upload-logo          { position: absolute; width: 230px; height: 250px; top: 15%; right: 2em; border: 4px dashed #f5ca01; text-align: center; z-index: 0 } 
#store-logo           { position: absolute; top: 0; left: 0; z-index: 2 }

#logo #image-emu { width: 100px; height: 200px; border: 3px #f5ca01 dashed }

/* generic forms */
form ul.errors            { margin: 0.5em 0; padding: 0.5em; background: #F83519; color: #FFF }
form ul.errors .legend    { font-size: 1.2em }
form ul.errors .field     { padding-left: 0.5em; list-style-type: disc }

